body{
    background-image: url("https://cdn.pixabay.com/photo/2016/11/30/20/58/programming-1873854_960_720.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    font-family: "Century Gothic";
    color: black;
}
.login{
    margin: auto;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(255,255,255,.4);
    border-radius: 20px;
    padding: 20px;
}
.login input{
    margin: 10px;
    width: 90%;
}